
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 429 ม.7 ต.เหล่ายาว อ.บ้านโฮ่ง จ.ลำพูน 51130</p> <br>  
    <p class="mb-1">&copy; โทร.088-269-1820, 097-232-1008 เปิดวันจันทร์-เสาร์ เวลา 8.00-17.00น.</p> 
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="../form-validation.js"></script></body>
</html>
