<%- include('partials/header.ejs') %> 
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../assets/brand/trologo.png" alt="" width="72" height="72">
    <h2>ตรอ.เหล่ายาวบริการ</h2>

  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">เพิ่มข้อมูลลูกค้า</h4>
      <form method="POST" action="/customers/form" class="needs-validation" novalidate>
        <input type="hidden" name="customerId">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">ชื่อ</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              กรุณากรอก ชื่อ
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">นามสกุล</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              กรุณากรอก นามสกุล
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="email">อีเมลล์ <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
            <div class="invalid-feedback">
              กรุณากรอก อีเมลล์ให้่ถูกต้อง
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="phonenumber">เบอร์โทรศัพท์<span class="text-muted">(Optional)</span></label>
            <input type="phonenumber" class="form-control" id="phonenumber" name="phonenumber" placeholder="0899837465" value="0988787656">
            <div class="invalid-feedback">
              กรุณากรอก เบอร์โทรศัพท์
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="address">ที่อยู่</label>
          <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" required>
          <div class="invalid-feedback">
            กรุณากรอก ที่อยู่
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">ประเทศ</label>
            <select class="custom-select d-block w-100" id="country" name="country" required>
              <option value="1">ไทย</option>
            </select>
            <div class="invalid-feedback">
              กรุณาเลือก ประเทศ
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">จังหวัด</label>
            <select class="custom-select d-block w-100" id="state" name="state" required>
              <option value="LP">ลำพูน</option>
            </select>
            <div class="invalid-feedback">
              กรุณาเลือก จังหวัด
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">รหัสไปรษณี</label>
            <input type="text" class="form-control" id="zip" name="zip" placeholder="" value="51130" required>
            <div class="invalid-feedback">
              กรุณากรอก รหัสไปรษณี
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sameaddress" name="sameaddress">
          <label class="custom-control-label" for="sameaddress">ส่งข่าวสารแจ้งเตื่อน</label>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">บันทึก</button>
        <hr class="mb-4">
      </form>
    </div>
  </div>
</div>
  <%- include('partials/footer.ejs') %> 
