<%- include('partials/header.ejs') %> 
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/brand/trologo.png" alt="" width="72" height="72">
    <h2>ตรอ.เหล่ายาวบริการ</h2>

  </div>
  <div class="row">
    <div class="col-md-12 order-md-1">     
      <form method="POST" action="/search" class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="firstName">ทะเบียน รถ</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="">
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastName">ชื่อ</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="">
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastName">เบอรโทร</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="">
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">ค้นหา</button>
        <hr class="mb-4">
      </form>
    </div>
  </div>
</div>
  <%- include('partials/footer.ejs') %> 
